/* TODO Why is the window oversized? */

@font-face {
  font-family: "rustScript";
  src: url("fonts/introscriptr-h2base.otf") format("truetype");
}

@font-face {
  font-family: "rustScripta";
  src: url("fonts/introheadr-base.otf") format("truetype");
}

@font-face {
  font-family: "rustScriptb";
  src: url("fonts/introrustg-base2line.otf") format("truetype");
}

h1 { 
	font-family: "rustScript", sans-serif;
	font-size: 7em;
	text-align: center;
	/*text-decoration: underline;*/
	border-bottom: solid 1px;
}

h2 {
	font-family: "rustScripta", sans-serif;
}

html, body, .container-fluid {
    height: 100%;    
    min-width: 728px;
}

body {
	background-color: ;
}

.lives_title {
	font-size: 1em;
	/*margin-bottom: 20px;*/
	text-align: center;
}

.lives2 {
	position: absolute;
	margin-top: 10px;
	background-color: #7130FC;
	height: 100%;
	/*min-height: 100%;*/
	width: 100%;
	border: 1px solid;
	border-radius: 4px;
	bottom: 0px;
}

.lives_container {
	height: 500px;
	position: relative;
}

.temp_title {
	text-align: right;
	font-size: 1em;
	padding-right: 20%;
}

.temp_guage {
/*margin-top: 10px;*/
padding: 0px;

background: linear-gradient(#7130FC, #CF0418);
background: -webkit-linear-gradient(#7130FC ,#CF0418); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(right, #7130FC, #CF0418); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(right, #7130FC, #CF0418); /* For Firefox 3.6 to 15 */

width: 100%;
height: 500px; /*make this vary with browser size*/
border: solid 1px;

border-radius: 4px;

}

input {
	margin-bottom: 10px;
	border: 1px solid;
	width: 100px;
	font-family: "rustScriptb", sans-serif;
	text-align: center;
}

.btn {
	border: 1px solid !important;
	font-family: "rustScript", sans-serif;
	font-size: 1.5em;
}

.jumbotron {
	margin-left: 10px;
	margin-top: 6%;
	text-align: center;
	/*background-color: pink;*/
	border: 3px solid;
	/*background-color: #7130FC;*/
	padding: 20px;
}

.leader {
	/*background-color: #7130FC;*/
	font-family: "rustScripta", sans-serif;
}

.page-header {
	border-bottom: solid 1px gray;
}

.arrow_container{
	padding: 0px;
	width: 30px	;*/
	/*position:relative;*/
	/*transform: rotate(90deg); */
}

.arrow {
	transform: rotate(90deg);
	/*margin-left: -10px;*/
	/*margin-right: -10px;*/
	position: relative; 
	top: 0px;
	/*left: 70px;*/
	width: 100%;
}

/* TODO: Get restart to behave*/
.restart {
	position: fixed;
	/*bottom: 30px;*/
	left: 48%;
	bottom: 0px;
	text-align: center;
	font-family: "rustScript", sans-serif;
	font-size: 1.3em;
	color: #CF0418;
	text-decoration: underline;
	cursor: pointer;
}
/*TODO Get the restart to be responsive to the browser size */

.flash {
	font-family: "rustScriptb", sans-serif;
	font-size: 3em;
	text-align: center;
	color: black;
}

.jumanji {
	padding: 0px;
}