/* TODO Why is the window oversized? */

@font-face {
  font-family: "rustScript";
  src: url("fonts/introscriptr-h2base.otf") format("truetype");
}

@font-face {
  font-family: "rustScripta";
  src: url("fonts/introheadr-base.otf") format("truetype");
}

@font-face {
  font-family: "rustScriptb";
  src: url("fonts/introrustg-base2line.otf") format("truetype");
}

h1 { 
	font-family: "rustScript", sans-serif;
	font-size: 7em;
	text-align: center;
	/*text-decoration: underline;*/
	border-bottom: solid 1px;
}

h2 {
	font-family: "rustScripta", sans-serif;
}

html, body, .container-fluid {
    height: 100%;    
}

.lives_title {
	font-size: 1em;
}

.lives2 {
	margin-top: 10px;
	background-color: #7130FC;
	height: 500px; /*make this vary with browser size*/
	min-height: 100%;
	width: 100%;
	border: 1px solid;
}

.temp_title {
	font-size: 1em;
}

.temp_guage {
margin-top: 10px;

background: linear-gradient(#7130FC, #CF0418);
background: -webkit-linear-gradient(#7130FC ,#CF0418); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(right, #7130FC, #CF0418); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(right, #7130FC, #CF0418); /* For Firefox 3.6 to 15 */

width: 100%;
height: 500px; /*make this vary with browser size*/
border: solid 1px;

}

input {
	margin-bottom: 10px;
	border: 1px solid;
	width: 100px;
}

.btn {
	border: 1px solid !important;
	font-family: "rustScript", sans-serif;
	font-size: 1.5em;
}

.jumbotron {
	margin-left: 10px;
	margin-top: 6%;
	text-align: center;
	/*background-color: pink;*/
	border: 3px solid;
	/*background-color: #7130FC;*/
	padding: 20px;
}

.leader {
	/*background-color: #7130FC;*/
	font-family: "rustScripta", sans-serif;
}

.page-header {
	border-bottom: solid 1px gray;
}

.arrow_container{
	transform: rotate(39deg); */
}

.arrow {
	position: absolute; 
	top: 100px;
	left: 57px;
	width: 70%;
}
/* TODO Get the arrow to be positioned correctly all the time*/

.restart {
	position: fixed;
	bottom: 30px;
	left: 47%;
	text-align: center;
	font-family: "rustScript", sans-serif;
	font-size: 1.3em;
	color: #CF0418;
	text-decoration: underline;
	cursor: pointer;
}
/*TODO Get the restart to be responsive to the browser size */
