body {
	min-width: 500px;
	width: auto !important;  /* Firefox will set width as auto */
   width:1000px;
}
.temp_guage {
/* background gradient */
margin-top: 20px;
background: linear-gradient(to right, red, blue);
background: -webkit-linear-gradient(left, red , blue); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(right, red, blue); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(right, red, blue); /* For Firefox 3.6 to 15 */

width: 150px;
height: 300px;

/* border-radius*/
border-radius: 0 0 200px 200px;
-moz-border-radius: 0 0 200px 200px; 
-webkit-border-radius: 0 150px 150px 0;

border: solid 3px;

margin:0px;

}

.container {
	max-width: 500px;
}

.arrow_container{
	/*transform: rotate(30deg);*/*/
	position: fixed;
	top: 500px;
}

.arrow {
	position: absolute; /*what does absolute??*/
	bottom: 170px;
	top: 100px;
	left: 150px;
	width: 100px;
}

.intro {
	position: fixed;
	top: 10%;
	left: 10%;
}

.main_body {
	position: fixed; /*fixed to the browser window - does this take it out of the flow of the dom?*/
	top: 30%;
	left: 30%;
}

.submission {
	position: absolute;
	left: 50px;
}

.restart {
	position: relative; /* relative to the parent element? */
	left: 44%;
	top: 30px;
}

.jumbotron {
	margin-left: 10px;
	margin-top: 6%;
	text-align: center;
	/*background-color: pink;*/
}

/*.lives {
	float: left;
	position: fixed;
	top: 15%;
	left: 15%;
	height: 80%;
	width: 5%;
	background-color: #6699FF; /*sea-blue
	border-radius: 2em 2em 2em 2em;
	margin-bottom: 10px;
}*/

.lives {

	position: absolute;
	top: 10%;
	left: 10%;
	height: 00px;
	width: 20px;
	background-color: #6699FF;
}

.lives2 {
	/*padding-right:0px;*/
	/*margin: 20px;*/
	padding-left:10px;
	background-color: blue;
	height: 200px;
	width: 110%;
}

.buffer {
	height: 300px;
}

.alt_lives {
	height: 20px;
	width: 0%; /*change with the score*/
	background-color: #6699FF; /*sea-blue*/
	border-radius: 2em 2em 2em 2em;	
	margin-bottom: 10px;
}

input {
	margin-bottom: 10px;
}

